.changePW {
  margin-top: var(--header-margin);
  display: flex;
  justify-content: center;
}

.changePW__paper {
  width: 25rem;
  height: 35rem;
}

.changePW__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  margin-top: 1rem;
  padding: 1rem;
}

.oldPW-input {
  width: 90% !important;
}

.newPW-input {
  width: 90% !important;
}

.confirmPW-input {
  width: 90% !important;
}

.changeBtn {
  margin-top: 2rem !important;
}
