.coin {
  border-top: 3px solid purple;
  padding: 1rem;
}

.coin__img {
  width: 5rem;
  height: 5rem;
}

.coin__rank {
  margin: 0;
  font-family: var(--custom-font);
}

.coin__name {
  color: blue;
  font-family: var(--custom-font);
  margin: 0.5rem;
}

.coin__symbol {
  font-family: var(--custom-font);
}

.coin__price {
  font-family: var(--custom-font);
  margin: 0.5rem 0 1rem 0;
  font-size: 1.25rem;
}

.coin__favBtn {
  width: 6rem;
  margin-top: 1.75rem !important;
}

.coin__chartContainer {
  width: 30rem;
}

.coin__chart {
}

.coin__iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.coin__subContainer {
  display: flex;
  justify-content: space-evenly;
}
