.forgotPW {
  margin-top: var(--header-margin);
  display: flex;
  justify-content: center;
}

.forgotPW__paper {
  width: 25rem;
  height: 35rem;
}

.forgotPW__header {
  font-family: var(--custom-font);
  text-align: center;
}

.forgotPW__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.forgotPW__input {
  width: 90% !important;
}

.forgotPW__btn {
  width: 90% !important;
  margin-top: 2rem !important;
}
