.header {
  background-color: blueviolet;
  top: 0;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  z-index: 999;
  font-family: var(--custom-font);
}

.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  height: var(--header-height);
}

.navbar__logout {
  color: blue;
  text-decoration: underline;
}

.navbar__logout:hover {
  cursor: pointer;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: var(--header-height);
}

.profile__box {
  width: 3rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
}

.myAccount__container {
  padding: 0.5rem 0.8rem !important;
}

.myAccount__icon {
  margin-right: 0.7rem !important;
}

.myAccount__name {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  text-align: center !important;
}

.myAccount__email {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem !important;
  margin-left: 1rem !important;
}
