.login {
  margin: var(--header-margin) 1rem 1rem 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.login__paper {
  width: 25rem;
  height: 35rem;
}

.login__header {
  text-align: center;
  font-family: var(--custom-font);
}

.login__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.login__input {
  width: 90% !important;
}

.login__logInBtn {
  margin-top: 2rem !important;
}

.login__googleContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 5rem 1rem 5.3rem 1rem;
}

.noAccountContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: var(--custom-font);
}

.noAccount {
  text-align: center;
}

.login__registerLink {
  color: blue;
}

.login__googleLogInBtn {
}
