.my-account {
  margin-top: var(--header-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--custom-font);
}

.my-account__header {
  margin-top: 0;
}

.divContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.divContainer > p {
  /* color: red; */
}
