.my-cryptos {
  margin-top: var(--header-margin);
}

.my-cryptos__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-cryptos__listItem {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.my-cryptos__listItem:not(:last-child) {
  border-bottom: 1px solid black;
}

.my-cryptos__chartContainer {
  margin-top: 1rem;
  width: 30rem;
}

.my-cryptos__iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
}

.my-cryptos__chart {
}

.my-cryptos__listSubContainer {
  display: flex;
  justify-content: space-evenly;
}

.my-cryptos__img {
  width: 5rem;
  height: 5rem;
}

.my-cryptos__removeBtn {
  width: 5rem;
  margin-top: 1rem !important;
}

.my-cryptos__name {
  font-family: var(--custom-font);
  margin-top: 0;
}

@media (max-width: 640px) {
  .my-cryptos__name {
    font-family: var(--custom-font);
    margin-top: 0;
    font-size: 1.3rem;
  }
  .my-cryptos__img {
    width: 3.2rem;
    height: 3.2rem;
  }
  .my-cryptos__removeBtn {
    width: 3rem !important;
    margin-top: 1rem !important;
    font-size: 0.7rem !important;
  }
  .my-cryptos__chartContainer {
    width: 20rem;
  }
}
