.register {
  margin-top: var(--header-margin);
  padding: 1rem;
}

.register__header {
  text-align: center;
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__btn {
  margin-top: 1rem !important;
}
